:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
          var(--orange-red) 0%,
          var(--vivid-pink) 50%,
          var(--electric-violet) 100%);

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
          var(--orange-red) 0%,
          var(--vivid-pink) 50%,
          var(--electric-violet) 100%);
}

.black-jack-container {
    text-align: center;
  
    .game-board {
      display: flex;
      justify-content: space-around;
      margin: 20px 0;
  
      .player-area, .dealer-area {
        position: relative;
        padding: 20px;
        margin: 10px;
        background: #fff;
        border-radius: 10px;
        
        /* Gradient border */
        border: 4px solid transparent;
        background-image: var(--red-to-pink-to-purple-horizontal-gradient);
        background-origin: border-box;
        background-clip: padding-box, border-box;
      
        /* Add some box shadow for depth */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        &.card-area {
          display: flex;
          flex-direction: row;
        }
  
        .cards {
          margin: 10px 0;
          font-size: 24px;
        }

        .player-action-button {
            width: fit-content;
            align-self: center;
            margin: 5px;
            padding: 10px 20px;
            font-size: 1.2rem;
            background-color: var(--french-violet);
            color: #FFFFFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
      }
    }
  
    .game-result {
      margin-top: 20px;
      h3 {
        color: #4CAF50;
      }

      .play-again-button {
        width: fit-content;
        align-self: center;
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 1.2rem;
        background-color: #FF5722;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    }
  }
  