<div class="game-history-modal">    
    <div *ngIf="gameHistory.gameHistory.length === 0">
      <p>No game history available.</p>
    </div>
    
    <ul *ngIf="gameHistory.gameHistory.length > 0">
      <li *ngFor="let game of gameHistory.gameHistory; index as i">
        <div>
          <strong>Game {{ i + 1 }}</strong>
          ({{ game.date | date:'medium' }})
        </div>
        <div>
          Result/Winner: {{ game.result }}
        </div>
        @if (game.moves?.length) {
          <div>
            Moves: {{ game.moves?.join(', ') }}
          </div>
        }

      </li>
    </ul>
    
    <button (click)="closeModal()">Close</button>
  </div>
