<div class="box">
  <h2 class="title">Calculator</h2>

  <div class="grid">
    <label class="lbl">
      <span>x</span>
      <input type="number" class="inp" [value]="x()" (input)="onXInput($event)"/>
    </label>

    <label class="lbl">
      <span>operator</span>
      <select class="sel" [value]="op()" (change)="onOpChange($event)">
        <option *ngFor="let o of operators" [value]="o">{{ o }}</option>
      </select>
    </label>

    <label class="lbl">
      <span>y</span>
      <input type="number" class="inp" [value]="y()" (input)="onYInput($event)"/>
    </label>
  </div>

  <div class="row">
    <button class="btn btn--primary" (click)="compute()">Compute</button>
  </div>

  <div *ngIf="result() as r" class="mt-2">
    <p class="mono">
      <span class="font-semibold">result:</span>
      <ng-container *ngIf="r.ok; else errTpl">{{ r.value | number:'1.0-6' }}</ng-container>
      <ng-template #errTpl><span class="errText">{{ r.error }}</span></ng-template>
    </p>
  </div>
</div>
