<div class="tic-tac-toe">
  <h2 class="heading">Tic Tac Toe</h2>
  <div class="details">
    @if (winner) {
      <div id="winnerArea" class="winner">
        Winner: <span>{{ winner }}</span>
      </div>
    } @else if (isDraw) {
      <div id="winnerArea" class="draw">It's a draw!</div>
    } @else {
      <div id="statusArea" class="status">
        Next player:
        <span [ngStyle]="{ color: currentPlayer === 'X' ? '#0000FF' : '#FF0000' }">
          {{ currentPlayer }}
        </span>
      </div>
    }
  </div>
  <section class="board">
    @for (rowIndex of [0, 1, 2]; track rowIndex) {
      <div class="row">
        @for (colIndex of [0, 1, 2]; track colIndex) {
          <button class="square" (click)="handleClick(rowIndex * 3 + colIndex)"
        [disabled]="!!board[rowIndex * 3 + colIndex] || gameOver" [ngStyle]="{
                'color': board[rowIndex * 3 + colIndex] === 'X' ? '#0000FF' :
                         (board[rowIndex * 3 + colIndex] === 'O' ? '#FF0000' : '#333')
              }">
            {{ board[rowIndex * 3 + colIndex] }}
          </button>
        }
      </div>
    }
  </section>
  <button (click)="resetGame()" class="reset-button">Reset</button>
</div>
