@if (!signedUpName) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label>
        <span>Name</span>
        <input type="text" formControlName="name" autocomplete="name" />
        @if (showError('name')) {
          <em class="error">Please enter your name (at least 2 characters).</em>
        }
      </label>
      <label>
        <span>Email Address</span>
        <input type="email" formControlName="email" autocomplete="email" />
        @if (showError('email')) {
          <em class="error">Please enter a valid email address.</em>
        }
      </label>
      <label>
        <span>Password</span>
        <input type="password" formControlName="password" autocomplete="new-password" />
        @if (showError('password')) {
          <em class="error">Password must be at least 8 characters.</em>
        }
      </label>
    </div>
    <button type="submit">Continue</button>
  </form>
} @else {
  <div class="success">
    <p>🎉 Welcome aboard, {{ signedUpName }}!</p>
    <p class="detail">Your account has been saved on this device.</p>
    <button type="button" (click)="done()">Done</button>
  </div>
}
