<!--<h1>{{ name }}</h1>-->

<!--<div>{{ activeUsersNames() }} </div>-->

<!--<button (click)="save()">Close</button>-->

<!--@for( user of users(); track user.id ) {-->
<!--  -->
<!--}-->

<!--<div>Amount {{count()}} * 2 = {{double()}} </div>-->

<!--<div *ngIf="user | async as user"> {{ user.name }} </div>-->

<!--<li *ngFor="let user of users">-->
<!--  {{ user.name }}-->
<!--</li>-->

<!--@if (user(); as currentUser) {-->
<!--  <div>{{ currentUser.name }}</div>-->
<!--} @else {-->
<!--  <div>No user</div>-->
<!--}-->

<!--@for (user of users(); track item.id) {-->
<!--  <li>{{ user.name }}</li>-->
<!--}-->
