<div class="game-history-modal">
  @if (gameHistory.gameHistory.length === 0) {
    <div>
      <p>No game history available.</p>
    </div>
  }

  @if (gameHistory.gameHistory.length > 0) {
    <ul>
      @for (game of gameHistory.gameHistory; track game; let i = $index) {
        <li>
          <div>
            <strong>Game {{ i + 1 }}</strong>
            ({{ game.date | date:'medium' }})
          </div>
          <div>
            Result/Winner: {{ game.result }}
          </div>
          @if (game.moves?.length) {
            <div>
              Moves: {{ game.moves?.join(', ') }}
            </div>
          }
        </li>
      }
    </ul>
  }

  <button (click)="closeModal()">Close</button>
</div>
