:root {



    h2 {
        margin: 0;
        padding: 0;
    }
    
    p {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: lightpink;
    }
}
